{% block team_cms_block %}
    <div class="team_cms_block">
        <br /><h1>Team</h1><hr />
        {% sw_include "@Storefront/storefront/element/cms-element-team.html.twig" %}
    </div>
{% endblock %}