{% block sw_cms_element_team %}
    <div class="team-element-wrapper">
        <h3>{{ $tc('sw-cms.elements.team.elementConfigure')}} -></h3>
        <div class="team-element-container">
            <span class="team-element"
                v-for="member in element.config.teamMembers.value"
                :key="member.id" >
                <h3>{{ member.name }}</h3><br />
                <h4>{{ member.position }}</h4><br />
                <span v-html="member.text"></span>
            </span>
        </div>
    </div>
{% endblock %}